@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>
<p>
    <h3>Quadratic Equation Calculator</h3> v1.0
</p>
<p>
    Authored by: Marc Hamilton<br />
    Developed in .NET using <b>Blazor WebAssembly</b> and <b>ASP.NET MVC</b>
</p>

