@page "/"

<PageTitle>Quadratic Equation Calculator</PageTitle>

<h1>Welcome to the Quadratic Equation Calculator</h1>

The quadratic equation calculator lets you solve for <em>x</em> given the quadratic formula <em>ax<sup>2</sup> + bx + c = 0</em>.

<TeaserPrompt Title="Get Started Now!" />
