@page "/quadratic"
@using QuadraticEquationCalculator.Shared
@inject HttpClient Http

<PageTitle>Quadratic Equation</PageTitle>

<h1>Quadratic Equation Calculator</h1>

<p>This component demonstrates calculating the roots of a quadratic equation given the coefficients and constants as input.</p>

@if (roots == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Equation</th>
                <th>Root 1</th>
                <th>Root 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1x^2 + 2x + 3</td>
                <td>x = @roots.Root1.Real.ToString("R")</td>
                <td>x = @roots.Root2.Real.ToString("R")</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private QuadraticRoots? roots;

    private string constructQueryParameter(string baseUrl)
    {
        string url = $"{baseUrl}?a=1&b=2&c=3";

        return url;
    }

    protected override async Task OnInitializedAsync()
    {
        roots = await Http.GetFromJsonAsync<QuadraticRoots>(constructQueryParameter("QuadraticEquationCalculator"));
    }

}
